.projectmainbody{
    width: calc(100vw - 60px);
    margin-left: 60px;
    position: relative;
    background: #000;
    display: flex;
    gap: 10px;
    /* padding: 60px 60px 20px 60px; */
    /* display: flex;
    flex-direction: column;
    gap: 20px; */

    /* close button */
    .closebtn{
        border: 2px solid transparent;
        outline: none;
        background: none;
        display: flex;
        gap: 10px;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-weight: 900;
        align-items: center;
        justify-content: center;
        padding: 10px 20px;
        font-size: 20px;
        position: absolute;
        top: 10px;
        left: 30px;
        border-radius: 10px;
    }
    .closebtn:hover{
        background: var(--black-color);
        color: var(--white-color);
    }
    .closebtn:active{
        background: var(--green-color);
        color: var(--black-color);
    }

   & .maindiv{
    width: calc(100% - 80px);
    background-color: var(--white-color);
    /* height: 100vh; */
    overflow-y: scroll;
    scroll-behavior: smooth;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: space-between;

    & .selecttype{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
        
        & .text{
            text-transform: uppercase;
            letter-spacing: 2px;
            font-weight: 900;
            font-size: 18px;
        }

        & .selectsection{
            padding: 15px 40px;
            font-weight: 500;
            letter-spacing: 2px;
            text-transform: uppercase;
            font-weight: 700;
            font-size: 13px;
            outline: none;
            border: 2px solid var(--charcoal-color);
            border-radius: 10px;
        }
    }

    & .headertext{
        text-align: center;
        text-transform: uppercase;
        font-weight: 900;
        letter-spacing: 3px;
        font-size: 22px;
    }

    & .formdiv{
        display: flex;
        flex-direction: column;
        gap: 40px;

        & .header{
            text-align: center;
            text-transform: uppercase;
            letter-spacing: 2px;
            font-weight: 800;
            font-size: 18px;
        }

       & .mandatoryinputdiv{
            display: flex;
            justify-content: space-between;
            gap: 40px;
            position: relative;
            /* align-items: center; */

           & .divleftside{
                width: 50%;
                display: flex;
                flex-direction: column;
                gap: 15px;
                position: relative;

                .text{
                    text-align: center;
                    text-transform: uppercase;
                    letter-spacing: 2px;
                    font-weight: 700;
                    font-size: 18px;
                }
            }

            & .divleftside select{
                text-transform: uppercase;
            }

            & .divleftside::after{
                position: absolute;
            content: " ";
            background: #000;
            height: 100%;
            width: 2px;
            right: -20px;
            top: 0;
            border-radius: 20px;
            }

           & .divrightside{
                width: 50%;
                display: flex;
                flex-direction: column;
                gap: 15px;
            }
            & .divrightside select{
                text-transform: uppercase;
            }

           & .inputfield{
                padding: 15px 20px;
                font-weight: 500;
                letter-spacing: 2px;
                text-transform: lowercase;
                font-size: 12px;
                outline: none;
                border: 2px solid var(--charcoal-color);
                border-radius: 10px;
                /* border-bottom: 2px solid var(--black-color); */
            }
            & .inputfield::placeholder{
                text-transform: uppercase;
            }
            & .inputfield:active{
                border: 2px solid var(--green-color);
            }
        }
        & .mandatoryinputdiv::after{
            position: absolute;
            content: " ";
            background: #000;
            width: 100%;
            height: 2px;
            bottom: -20px;
            left: 0;
            border-radius: 20px;
        }

        & .newaddinputdiv{
            display: flex;
            flex-direction: column;
            gap: 20px;
            justify-content: center;

            & .divclosebtn{
                border: none;
                outline: none;
                background: none;
                font-size: 40px;
            }
            .divclosebtn:hover{
                color: var(--orange-color);
            }
            .divclosebtn:active{
                color: var(--redorange-color);
            }

            & .textarea, .imagearea{
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 20px;

                & .textareainputfield{
                    min-width: 96%;
                    /* max-width: 97%; */
                    width: 100%;
                    min-height: 150px;
                    max-height: 250px;
                    padding: 15px 20px;
                    border-radius: 10px;
                    border: 2px solid var(--charcoal-color);
                    letter-spacing: 2px;
                }
                & .textareainputfield::placeholder{
                    text-transform: uppercase;
                }

            }

            & .imageinputfield{
                min-width: 96%;
                width: 100%;
                padding: 20px 20px;
                border-radius: 10px;
                border: 2px solid var(--charcoal-color);
                letter-spacing: 2px;
            }
            & .imageinputfield::placeholder{
                text-transform: uppercase;
            }
        }

        & .btnsection{
            display: flex;
            gap: 40px;
            justify-content: center;
            align-items: center;

            .submitbtn, .resetbtn{
                padding: 10px 40px;
                font-weight: 900;
                outline: none;
                border: 2px solid transparent;
                letter-spacing: 4px;
                text-transform: uppercase;
                border-radius: 10px;
                font-size: 14px;
                cursor: pointer;
            }

           .submitbtn:hover, .resetbtn:hover{
                background: var(--black-color);
                color: var(--white-color);
            }
            .submitbtn:active{
                background: var(--green-color);
                color: var(--black-color);
            }
            .resetbtn:active{
                background: var(--redorange-color);
                color: var(--black-color);
            }
        }
    }
   }

   & .notenavbarbody {
    position: fixed;
    right: 0;
    background: var(--black-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    /* z-index: 99; */
    padding: 20px 15px;
    height: 100vh;
    width: 80px;
  
    & .iconsection {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
  
    & .icons {
      display: flex;
      flex-direction: column;
      gap: 10px;
      padding: 15px;
      justify-content: center;
      align-items: center;
      border: none;
      outline: none;
      background: none;
      color: var(--white-color);
      cursor: pointer;
      /* font-size: 25px; */
      border-radius: 12px;
    }
    & .plusicon {
      display: flex;
      flex-direction: column;
      gap: 10px;
      padding: 15px;
      justify-content: center;
      align-items: center;
      border: none;
      outline: none;
      background: none;
      color: var(--white-color);
      cursor: none;
      /* font-size: 25px; */
      border-radius: 12px;
    }
  
    & .icon {
      width: 25px;
      height: 30px;
    }
  
    & .icons:hover {
      background-color: var(--white-color);
      color: var(--black-color);
    }
    & .icons:active{
      background-color: var(--green-color);
      transform: scale(0.95);
      color: var(--black-color);
    }
  }
}


  