.mainbody{
    width: 100vw;
    height: 100vh;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
}
.loginform{
    margin: auto;
    width: 40vw;
    height: 70vh;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #000000;
}
.loginform  span{
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 900;
    color: #fff;
    margin: 10px 0;
    letter-spacing: 2px;
}
.loginform .logoimg{
    width: 350px;
    height: 150px;
    margin: 10px 0;
}
.loginform  form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    margin: auto;
    margin-top: 10px;
}
.loginform input {
    width: 100%;
    height: 40px;
    margin: 10px 0;
    font-weight: 900;
    border: none;
    padding: 5px 20px;
    letter-spacing: 1px;
}
.adminbtn{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}
 .loginform button{
    font-weight: 900;
    font-size: 20px;
    text-transform: uppercase;
    padding: 15px 50px;
    letter-spacing: 2px;
    border: none;
    /* width: 60%; */
    text-transform: uppercase;
}
.loginform button:hover{
    background: rgb(26, 255, 0);
}
.loginform input:hover{
    border: none;
}

.closebtn{
    position: fixed;
    top: 50px;
    left: 100px;
    border: none;
    background: none;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    cursor: pointer;
    color: #000000;
  }
  .closebtn i{
    margin-right: 10px;
  }

  @media screen and (max-width: 1440px) {

    .loginform{
        width: 80%;
        height: 80%;
    }
    .loginform button{
        padding: 10px 30px;
    }
    .loginform form{
        width: 90%;
    }
  }

  @media screen and (max-width: 1280px) {
    .closebtn{
        display: block;
    }
    .loginform{
        width: 80%;
        height: 80%;
    }
    .loginform button{
        padding: 10px 30px;
    }
    .loginform form{
        width: 90%;
    }
  }

  @media screen and (max-width: 800px) {
    .closebtn{
        display: block;
    }
    .loginform{
        width: 80%;
        height: 80%;
    }
    .loginform button{
        padding: 10px 30px;
    }
    .loginform form{
        width: 90%;
    }
  }

  @media screen and (max-width: 600px) {
    .closebtn{
        display: none;
    }
    .loginform{
        width: 100%;
        height: 100%;
    }
    .loginform button{
        padding: 10px 30px;
    }
    .loginform form{
        width: 90%;
    }
  }