.mainbody{
    background: #000;
    width: calc(100% - 60px);
    margin-left: 60px;
    height: 100vh;
    position: relative;
    padding: 20px 40px;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;


    & .leftside, & .rightside{
        background-color: var(--offwhite-color);
        height: 100%;
        border-radius: 12px;
        padding: 20px;
    }
    & .leftside{
        width: 30%;
    }
    & .rightside{
        width: 70%;
    }
}