.mainbody {
  background: #000;
  width: calc(100% - 60px);
  margin-left: 60px;
  height: 100vh;
  position: relative;
  padding: 20px;
  display: flex;
  gap: 20px;
  justify-content: space-between;

  & .leftside,
  & .rightside {
    height: 100%;
    background-color: var(--offwhite-color);
    padding: 20px;
    border-radius: 12px;
  }
  & .leftside {
    width: 30%;
    background: url("../image/bg3.svg");
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    & .closebtn {
      /* padding: 12px 20px; */
      font-size: 18px;
      font-weight: 900;
      text-transform: uppercase;
      letter-spacing: 2px;
      outline: none;
      border: none;
      display: flex;
      gap: 10px;
      align-items: center;
      background: none;
      cursor: pointer;
    }

    & .contactinformation {
      background: rgba(255, 255, 255, 0.55);
      box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
      backdrop-filter: blur(7px);
      -webkit-backdrop-filter: blur(7px);
      border-radius: 12px;
      /* border: 1px solid rgba(255, 255, 255, 0.18); */
      padding: 20px;
      display: flex;
      flex-direction: column;
      gap: 50px;

      & .text {
        display: flex;
        flex-direction: column;

        & .heading {
          text-transform: uppercase;
          letter-spacing: 2px;
          text-align: center;
          font-weight: 800;
          font-size: 20px;
        }
        & .subtext {
          letter-spacing: 1px;
          text-transform: lowercase;
          font-size: 15px;
          text-align: center;
        }
      }

      & .contact {
        display: flex;
        flex-direction: column;
        gap: 8px;

        & .information {
          display: flex;
          gap: 10px;
          font-size: 15px;
          letter-spacing: 2px;
          text-transform: lowercase;
          font-weight: 600;
        }
      }
    }

    & .socialicondiv {
      display: flex;
      gap: 15px;
      justify-content: center;

      & .icondiv {
        width: 45px;
        height: 45px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: var(--white-color);
        color: var(--black-color);
        /* font-size: 22px; */
        border-radius: 10px;

        & .behance {
          font-size: 24px;
        }
        & .facebook {
          font-size: 24px;
        }
        & .gmail {
          font-size: 24px;
        }
        & .instagram {
          font-size: 24px;
        }
        & .pintrest {
          font-size: 22px;
        }
      }

      & .icondiv:hover {
        background: var(--black-color);
        color: var(--white-color);
      }
    }
  }
  & .rightside {
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;

    & .followlinks{
      display: flex;
      gap: 5px;
      flex-direction: column;

      & .text{
        letter-spacing: 1px;
        font-size: 15px;
        font-weight: 600;
      }

      & .links{
        display: flex;
        gap: 10px;
        letter-spacing: 2px;
        text-transform: uppercase;
        font-weight: 200;
        font-size: 12px;

        & .link{
          position: relative;
        }
        & .link:hover::after{
          position: absolute;
          width: 100%;
          left: 0;
          bottom: -5px;
          height: 1px;
          background: #000;
          content: " ";
        }
      }
    }

    & .formdiv{
      display: flex;
      flex-direction: column;
      gap: 10px;

      & .blocks{
        display: flex;
        gap: 10px;
      }

      & .btnblocks{
        display: flex;
        gap: 30px;
        /* justify-content: space-between; */

        & .sendbtn, .resetbtn{
          outline: none;
          border: 2px solid var(--black-color);
          background: var(--black-color);
          color: var(--offwhite-color);
          padding: 10px 20px;
          text-transform: uppercase;
          letter-spacing: 2px;
          font-weight: 800;
          font-size: 15px;
          border-radius: 30px;
          cursor: pointer;
        }
      }
    }
  }
}
