.navbody{
    width: 60px;
    height: 100vh;
    background: #000;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9999;

    & .container{
        width: 100%;
        height: 100vh;
        color: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 20px 0 80px 0;

        & .hamburger {
            color: var(--white-color);
            cursor: pointer;
            background: none;
            border: none;
            font-size: 35px;

            & .buttonicon{
                cursor: pointer;
                background: none;
                border: none;
                outline: none;
              }
          }

          & .hamburger:hover{
            color: var(--yellow-color);
          }

          & .mainlogo{
            width: 160px;
            height: 40px;
            transform: rotate(-90deg);
          }
    }

    & .navlist {
        position: absolute;
        left: 60px;
        top: 0;
        height: 100vh;
        width: calc(60px + 300px);
        padding: 20px 0;
        background: #000;
        font-size: 18px;
        z-index: 99;
        animation: navbaranimation all 2s linear;

        & .navlogo{
            display: flex;
            align-items: center;
            justify-content: center;
          }
      }
      @keyframes navbaranimation {
        from{
          width: 0;
        }
        to{
          width: 360px;
        }
      }

      & .navlist ul{
        list-style: none;
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: center;
        margin-right: 20px;
      }

      & .navlist  ul a {
        margin-top: 10px;
        padding: 10px 20px;
        width: 100%;
        border: 2px solid transparent;
        color: #fff;
        text-decoration: none;
        font-weight: 800;
        letter-spacing: 5px;

        & .navicon{
            font-size: 20px;
        }
      }
      & .navlist ul a li {
        display: flex;
        gap: 10px;
        font-size: 18px;
    }

      & .navlist ul a:hover {
        border: 2px solid var(--yellow-color);
        color: var(--yellow-color);
      }
      & .navlist ul .linkbody a:hover {
        border: 2px solid var(--yellow-color);
      }

      & .navlist button{
        border: none;
        padding: 10px 0;
        text-transform: uppercase;
        font-size: 18px;
        font-weight: 900;
        letter-spacing: 2px;
        margin: 20px 0;
      }
      & .navlist button:hover{
        background-color: var(--yellow-color);
      }
}