/* home main body css */
.homemainbody {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  padding: 0 52px 5px 5px;

  .imagecard {
    height: 220px;
    width: calc(100% / 5.1);
  }

  .imagePreloader{
    height: 100%;
    width: 100%;
    background: #000;
    color: #fff;
    letter-spacing: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
  }

  .imagebody {
    height: 100%;
    position: relative;
    cursor: pointer;
    .image {
      width: 100%;
      height: 100%;
    }
  }

  .imagebody::after {
    content: " ";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    height: 0;
  }

  .imagebody:hover::after {
    height: 100%;
    transition: all 0.5s ease;
  }

  .imagebody .text {
    color: #fff;
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -10%);
    display: none;
  }

  .imagebody:hover .text {
    display: block;
    z-index: 1;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
  }
}

/* digital art image display div design */
.digitalartmainbody,
.photographymainbody {
  user-select: none;
  width: 100%;
  padding: 0 5px 0 5px;
  height: 100vh;
  overflow-y: scroll;
}

@media only screen and (min-width: 1281px) {
  .homemainbody{

    .imagecard{
      width: calc(100% / 5.1);
    }
  }
}

@media only screen and (max-width: 1280px) {
  .homemainbody{

    .imagecard{
      width: calc(100% / 4.1);
    }
  }
}

@media only screen and (max-width: 1020px) {
  .homemainbody{

    .imagecard{
      width: calc(100% / 3.1);
    }
  }
}

@media only screen and (max-width: 800px) {
  .homemainbody{

    .imagecard{
      width: calc(100% / 2.1);
    }
  }
}

@media only screen and (max-width: 480px) {
  .homemainbody{
    width: 100%;
    padding: 5px;

    .imagecard{
      width: 100%;
    }
  }
}

